.split-pane {
  display: flex;
  flex-direction: row;
}

.split-pane-left,
.split-pane-right {
  flex: 1;
  overflow: hidden;
  border: 1px solid gray;
}

.separator {
  border: 5px solid gray;
  cursor: col-resize;
}
