@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --nav-height: 2.5rem;
  --code-editor-height: 88%;
}

.primary-bg {
  @apply bg-purple-100;
}

.default-bg {
  @apply bg-gray-200;
}

.secondary-bg {
  @apply bg-purple-800;
}

.primary-text {
  @apply text-purple-800;
}

.default-text {
  @apply text-gray-800;
}

.secondary-text {
  @apply text-purple-100;
}

.hover {
  @apply opacity-70 hover:opacity-90;
}

.w-26 {
  width: 6.4rem;
}

.h-9\/10 {
  height: 88%;
}

.navbar-height {
  height: var(--nav-height);
}

.body-height {
  height: calc(100% - var(--nav-height));
}

.code-editor-height {
  height: var(--code-editor-height);
}

.editor-actions-height {
  height: 2.5rem;
}

.light-text {
  @apply text-gray-500;
}

.dark-text {
  @apply text-gray-800;
}

.medium-text {
  @apply text-gray-600;
}

.right-minus-2 {
  right: -2em;
}

.min-h-12 {
  min-height: 3rem;
}
